<script src="https://cdn.finsweet.com/files/cmslibrary-v1.7.js"></script>
<script>
(function() {
// create a new Library instance and store it in a variable called "projectsGrid"
var projectsGrid = new FsLibrary('.collection-list')
// define our filter group(s)
var myFilters = [
{
  filterWrapper: ".filter-group",
  filterType: "exclusive"
},
{filterWrapper: ".filter-search",
  filterType: "exclusive"},
{filterWrapper: ".location-dropdown",
  filterType: "exclusive"}
]
// run filter on our instance
projectsGrid.filter({
  filterArray: myFilters, // the filter group name we defined
  activeClass: 'filtr-active',
  filterReset:'.filter-reset-master',// the active class we give to our buttons
  animation: {
    enable: true,
    duration: 200,
    easing: 'ease-out',
    effects: 'fade translate(0px,20px)'
    }
})
})();
</script>
