<div class="b-footer">
  <div class="b-container">
    <div class="footer-wrap">
      <div class="right-footer-div">
        <div class="r-inner-footer">
          <a href="#" class="footerlink">Home</a>
          <a href="#" class="footerlink">About</a>
          <a href="#" class="footerlink">Privacy &amp; Terms</a>
        </div>
        <div class="socialmedia-div">
          <a href="#" class="footerlink">Share the legacy</a>
          <a href="#" class="footerlink materialdes">󰕄</a>
          <a href="#" class="footerlink materialdes">󰈌</a>
        </div>
      </div>
      <div class="left-footer-div">
        <div class="footerlink">Awokoya Mathew Akinyele</div>
        <a href="#" class="btn-top-home w-inline-block">
          <div>󰁝</div>
        </a>
      </div>
    </div>
  </div>
</div>
