<div id="top-page" class="top-of-page"></div>

<div class="navbar">
    <div class="contain-top">
      <!-- Logo website -->
      <a href="/" aria-current="page" class="logo-ama w-inline-block w--current">
        <img src="{{.Site.Params.logo}}" loading="lazy" sizes="(max-width: 479px) 30vw, (max-width: 991px) 110px, 181px" srcset="{{.Site.Params.logo}} 500w, {{.Site.Params.logo}} 834w" alt="{{.Site.Params.alt}}">
      </a>
      <!-- logo website ended -->

      <!-- Navigation links -->
      <div class="navbar-wrap">
        {{ range .Site.Menus.mainmenu}}
        <a href="{{.URL}}" class="navlink">{{.Name}}</a>
        {{end}}

      </div>
      <!-- Navigation links end here -->


      <div class="btn-top-div topmenu">
        <a href="/leave-a-tribute/" class="lnk-btn topmenu w-inline-block">
          <div class="txt-btn">write your story</div>
          <div class="arrow-btn men">󰅂</div>
        </a>
      </div>


      <div data-w-id="ac191f53-90cf-796f-7b67-62f315ee8cf9" class="btn-mobile">
        <div class="flex-mobile-men">
          <div>menu</div>
          <div class="mtr-txt-handburger">󰍜</div>
        </div>
      </div>


      <div class="mobile-fix-nav">
        <div>
          <a href="memories-and-condolences.html" class="navlink-mobile w-inline-block">
            <div>memories &amp; Condolences</div>
          </a>
          <a href="his-life.html" class="navlink-mobile w-inline-block">
            <div>his life</div>
          </a>
          <a href="memorial-coverage.html" class="navlink-mobile w-inline-block">
            <div>memorial coverage</div>
          </a>
        </div>
        <div class="mobile-btn-flex">
          <a href="get-in-touch.html" class="btn-top-div btn-mobile w-inline-block">
            <div class="lnk-btn topmenu">
              <div class="txt-btn">write your story</div>
              <div class="arrow-btn men">󰅂</div>
            </div>
          </a>
        </div>
      </div>


    </div>
    <div class="abs-navbar"></div>
  </div>
