<div class="header">

  <!-- Slider code here -->
  <div data-delay="9000" data-animation="fade" data-autoplay="1" data-duration="2000" data-infinite="1" class="slider w-slider">
    <div class="w-slider-mask">

      {{$slideItem := .Site.GetPage "/slideItems"}}
      {{$reusableItems := $slideItem.Resources.ByType "page"}}
      {{range $reusableItems}}

        <div class="slide w-slide" style="background-image: url('{{.Params.image}}')"></div>

      {{end}}

    </div>

    <div class="hide w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="hide w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="hide w-slider-nav w-round"></div>
  </div>
  <!-- slider ends here -->

  {{with .GetPage "/slideitems/index.md"}}
  <div class="b-container-header">
    <div class="b-top-header">
      <h1 class="h1">{{.Title}}</h1>
      <div class="dt-birth">{{.Params.DOB}}</div>
    </div>
    <div class="centre-wrap">
      <div class="btn-top-div">
        <a href="leave-a-tribute.html" class="lnk-btn w-inline-block">
          <div class="txt-btn">submit a tribute</div>
          <div class="arrow-btn">󰅂</div>
        </a>
      </div>
    </div>
  </div>
  {{end}}

</div>
